<div class="card">
    <div class="card-header">
        <h2>Login Page</h2>
    </div>
    <form class="card-body" id="login-form">
        <div>
            <label for"username-input-login"> Username </label>
            <input type="text" id="username-input-login"/>
        </div>
        <div>
            <label for"password-input-login"> Password </label>
            <input type="text" id="password-input-login"/>
        </div>
        <button class="btn" type="submit" id="login-btn">Login</button>
        <a type="button" href="/public/js/signup.js">Sign Up Now</a>
    </form>
</div>

<script src="/public/js/login.js"></script>