<div class="card">
  <h3 class="card-header">Sign Up Now!</h3>
  <form class="card-body" id="signup-form">
    <label class="form-label" id="username-signup"> Username: </label>
    <input class="form-input" id="username-signup" type="text" />

    <label class="form-label" id="password-signup"> Password: </label>
    <input class="form-input" id="password-signup" type="text" />

    <button class="btn" type="submit"></button>
    <a class="login-link" href="/public/js/login.js">Login</a>
  </form>
</div>

<script src="/public/js/signup.js"></script>